@import './variables.scss';

@media (width < 700px) {
  #navbar {
    > .navbar-nav {
      display: none;
    }

    > svg {
      display: none;
    }

    #menu_toggler {
      display: block !important;
    }
  }

  #Apresentation {
    font-size: 0.8em;

    .contacts-list,
    .scroll_link {
      bottom: 5em !important;
    }

    .scroll_link {
      padding: 1em;
    }
  }

  #about {
    .row {
      .description .description__link {
        margin: auto;
      }
    }
  }

  #projects {
    padding: 6em 0em;
  }
}

@media (width < 950px) {
  #projects {
    padding: 6em 1em;

    .project__image {
      aspect-ratio: 10 / 6;
      height: fit-content !important;
      width: 100% !important;
      margin-bottom: 1em;
    }

    .project__text_container {
      width: 100% !important;
    }
  }
}
