@import './variables.scss';

@media (width < 700px) {
  #navbar {
    > .navbar-nav {
      display: none;
    }

    > svg {
      display: none;
    }

    #menu_toggler {
      display: block !important;
    }
  }

  #Apresentation {
    font-size: 0.8em;

    .contacts-list,
    .scroll_link {
      bottom: 5em !important;
    }

    .scroll_link {
      padding: 1em;
    }
  }

  #about {
    .row {
      .description .description__link {
        margin: auto;
      }
    }
  }

  #projects {
    padding: 6em 0;

    h2 {
      margin-bottom: 2em;

      &::after {
        content: ':';
        color: $destaque_color;
      }
    }
  }
}

@media (width < 990px) {
  #about .avatar {
    -webkit-box-reflect: below 0px linear-gradient(transparent 80%, rgba(0,0,0,0.4)) !important;
  }
}
