@import './variables.scss';

@mixin btn--primary {
  text-decoration: none;
  display: block;
  width: fit-content;
  color: $text_light;
  font-weight: 600;
  text-align: center;
  border-radius: 10em;
  padding: 0.7em 1.4em;
  font-family: $main_font;
  background:
    linear-gradient($bg_color--secondary, $bg_color--secondary) padding-box,
    linear-gradient(45deg, $primary_color, $secondary_color) border-box;
  border-radius: 20px;
  border: 3px solid transparent;
  transition: $transition_one;

  &:hover {
    background-color: $secondary_color;
  }
}

@mixin btn--secondary {
  text-decoration: none;
  display: block;
  width: fit-content;
  color: $text_dark--secondary;
  text-align: center;
  border-radius: 10em;
  border: 2px solid $primary_color;
  padding: 0.7em 1.4em;
  font-family: $main_font;
  transition: $transition_one;

  &:hover {
    background-color: $primary_color;
  }
}

@mixin btn--terciary {
  text-decoration: none;
  display: block;
  width: fit-content;
  color: $primary_color;
  text-align: center;
  border-radius: 10em;
  border: 2px solid $primary_color;
  padding: 0.7em 1.4em;
  font-family: $main_font;
  transition: $transition_one;

  &:hover {
    background-color: $primary_color;
  }
}

@mixin btn_default--primary {
  text-decoration: none;
  color: $text_light;
  text-align: center;
  border-radius: 3px;
  background-color: $primary_color;
  padding: 0.5em 1.4em;
  font-size: 1em !important;
  font-family: $main_font;
  transition: $transition_one;

  &:hover {
    color: $text_light;
    background-color: $text_dark;
  }
}

@mixin btn_default--secondary {
  text-decoration: none;
  color: $text_light;
  text-align: center;
  border-radius: 3px;
  background-color: $text_dark;
  padding: 0.5em 1.4em;
  font-size: 1em !important;
  font-family: $main_font;
  transition: $transition_one;

  &:hover {
    background-color: $primary_color;
  }
}

@mixin btn_destaque {
  background: $primary_color;
  box-shadow:
    4px 4px #0000009e,
    8px 8px #ffffff4e;
  color: $text_dark;
  font-weight: 700;
  text-align: center;
  padding: 0.8em 1.4em;
  align-items: center;
  font-size: 0.9em !important;
  position: relative;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  overflow: hidden;
  text-transform: uppercase !important;
  letter-spacing: 0.5px;
  font-family: sans-serif;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: $text_dark;
    z-index: -1;
    transition: $transition_one;
  }

  &:hover::before {
    width: 100%;
    left: 0;
    right: unset;
  }

  &:hover {
    box-shadow:
      0 0 #fff,
      0 0 #151515;
    color: white;
  }
}
