$bg_color: #f9f9f9;
$bg_color--secondary: #f4f4f4;

$card_color: #ffffff;
$card_color--secondary: #fbebeb;

$primary_color: #ff9800;
$secondary_color: #f1dfa6;
$secondary_color--dark: #e8b200;
$terciary_color: #cf5300;

$text_dark: #0d0c22;
$text_dark--secondary: #0d0c22ce;
$text_dark--terciary: #03031089;

$text_light: #f9f9fa;
$text_light--secondary: #f9f9fae4;
$text_light--terciary: #f9f9fa89;

$main_font: 'Poppins', sans-serif;
$secondary_font: 'Agdasima', sans-serif;
$terciary_font: 'Monsieur La Doulaise', serif;

$transition_one: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
$transition_two: 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
