$bg_color: #f3f3f0;
$bg_color--card: #f7f7f7;
$bg_color--secondary: #f4eded;
$destaque_color: #ff7112;
$destaque_color--secondary: #84c53e;
$text_color: #2b2b2b;
$text_color--secondary: #3d3d3d;
$main_font: 'Roboto', sans-serif;
$primary_font: 'Courgette', cursive;;
$secondary_font: 'Poppins', sans-serif;
$destaque_font: 'Saira Stencil One', sans-serif;
$transition_one: 0.3s ease-in-out;