$bg_color: #0b0c14;
$bg_color--secondary: #1c1c1ca0;
$bg_color--light: #e6e6e6;

$card_color: #f0f0f0;
$card_color--secondary: #fbebeb;

$primary_color: #a900dc;
$secondary_color: #113ac1;
$terciary_color: #cf5300;

$text_dark: #0f0f0f;
$text_dark--secondary: #1c1c1cc9;
$text_dark--terciary: #1c1c1cac;

$text_light: #ffffff;
$text_light--secondary: #f0f0f0d4;
$text_light--terciary: #f0f0f08e;

$main_font: 'Poppins', sans-serif;
//$main_font: 'Agdasima', sans-serif;
$terciary_font: 'Monsieur La Doulaise', serif;

$transition_one: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
$transition_two: 0.7s linear;
