@import '../variables.scss';
@import '../mixins.scss';

#about {
  background-color: $bg_color--secondary;

  .about__data {
    .about__text {
      color: $text_dark--secondary;
    }

    .about__link {
      @include btn--primary;
      font-size: 1.15em !important;
    }

    .about__list {
      list-style: none;

      li {
        color: $text_dark--secondary;

        svg {
          font-size: 1.3rem;
        }
      }
    }
  }

  .about__image {
    height: 140%;
    background-image: url('../../assets/website_build-2.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
