@import '../variables.scss';
@import '../mixins.scss';

#about {
  .row {
    .avatar__container {
      .avatar {
        width: 400px;
        height: 100%;
        border-radius: 10px;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 0.2em;

      .description__title {
        font-family: $secondary_font;
      }

      .description__text {
        font-size: 1.15em;
      }

      .description__link {
        @include btn_destaque--primary;
        width: fit-content;
      }
    }
  }
}
