@import '../variables.scss';
@import '../mixins.scss';

#home {
  background-image: radial-gradient($bg_color--secondary, $bg_color);

  h1 {
    font-size: 4em;
    line-height: 1.3em;

    > span {
      padding: 0.1em 0.35em;
      border-radius: 24px;
    }
  }

  p {
    font-weight: 500;
    font-size: 1.2em;
  }

  .apresentation__butons_container {
    transition: $transition_one;

    &:hover {
      transform: translate(3px, 3px);

      svg {
        transform: rotate(90deg);
      }
    }

    .apresentation__buton {
      @include btn--primary;

      svg {
        font-size: 1.1em;
        transition: $transition_one;

        * {
          color: $card_color;
        }
      }
    }
  }
}
