@import '../variables.scss';
@import '../mixins.scss';

#Apresentation {
  position: relative;

  h1 {
    font-size: 4.5em;
    text-align: center;
    font-family: $destaque_font;

    i {
      font-family: $destaque_font;
      font-style: normal;
      text-shadow: 3px 0 0 $destaque_color--secondary;
    }
  }

  h2 {
    color: #1f1f1f;
    font-family: $primary_font !important;
    font-weight: normal !important;
    text-decoration: underline;
    text-decoration-color: $destaque_color;
    font-size: 1.8em;
  }

  .apresentation_assinature {
    width: 200px;
  }

  .contacts-list {
    position: absolute;
    bottom: 3em;
    left: 0;

    li {
      border: none;
      margin-top: .8em;
      background-color: transparent;

      &:hover {
        scale: 1.1;
        transition: $transition_one;

        svg > path {
          color: $text_color;
        }
      }

      svg {
        font-size: 1.9em;

        path {
          color: $text_color--secondary;
        }
      }
    }
  }

  .scroll_link {
    position: absolute;
    bottom: 3em;
    right: 0;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    color: $text_color--secondary;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .7em;

    &:hover {
      scale: 1.03;
      transition: $transition_one;
    }

    svg {
      font-size: 1.4em;
    }
  }
}
