@import '../variables.scss';
@import '../mixins.scss';

#atributes {
  background-color: $bg_color;

  .atributes__data {
    border-radius: 10px;
    height: 100%;
    background-color: #fff;

    .atributes__text {
      color: $text_dark--secondary;
    }

    .atributes__link {
      @include btn--primary;
      font-size: 1.15em !important;
    }

    .atributes__list {
      list-style: none;

      li {
        color: $text_dark--secondary;

        svg {
          font-size: 1.3rem;
        }
      }
    }
  }

  .atributes__container {
    height: 100%;
    border-radius: 200px 0 0 10px;

    .atribute {
      width: calc(50% - 1rem);
      border-radius: 10px;

      .atribute__service {
        font-family: $main_font;
        font-size: 29px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          display: inline-block;
          text-align: center;
          font-family: $main_font;
        }
      }

      p {
        font-size: 1em !important;
        color: $text_dark--secondary;
      }

      .atribute_author {
        font-weight: 500;
      }

      .atribute__link {
        color: $primary_color;
        font-size: 1.15em !important;
        text-decoration: underline !important;
      }
    }

    .one {
      width: 100%;
      background-color: $text_dark;
      box-shadow: 0px 15px 20px #00000020;

      * {
        color: $text_light !important;
      }
    }

    .two {
      background-color: $primary_color;
      box-shadow: 0px 15px 20px #00000010;
    }
  }
}
