@import '../variables.scss';
@import '../mixins.scss';

.atributes_container {
  .atribute__card {
    max-width: 400px;
    width: fit-content;

    svg {
      font-size: 2.8em;

      * {
        color: $text_light--secondary;
      }
    }

    .card__title {
      color: $text_light--secondary;
      font-weight: 600 !important;
    }

    .card__description {
      color: $text_light--terciary;
    }
  }
}
