@import '../variables.scss';
@import '../mixins.scss';

#clients {
  background-color: $bg_color;
  box-shadow: 20px 20px 10px #ff0000;
  padding: 2em 2em;

  .cards_container {
    .clients__card {
      max-width: 400px;

      img {
        width: 30%;
        filter: grayscale(1) brightness(60%);
        transition: $transition_one;

        &:hover {
          filter: grayscale(1) brightness(70%);
        }
      }
    }

    .kateli img {
      width: 27%;
    }
  }
}
