@import '../variables.scss';
@import '../mixins.scss';

#contact {
  .contacts__container {
    justify-content: space-between;
    gap: 1.2em;

    p {
      font-size: 1.15em;
    }

    .contact_label {

      > strong {
        font-family: $secondary_font;
        font-weight: bold;

        &::after {
          content: ':';
          color: $destaque_color;
        }
      }
    }
    .contacts_list {
      gap: 1em;

      li {
        background-color: $text_color;
        padding: 7px;
        border-radius: 50%;

        &:hover {
          scale: 1.05;
          transition: $transition_one;
          background-color: #151515;
        }

        svg {
          font-size: 1.6em;

          * {
            color: $bg_color;
          }
        }

        a.Whatsapp svg {
          font-size: 1.6em;

          * {
            color: rgb(0, 255, 0);
          }
        }

        a.LinkedIn svg {
          font-size: 1.6em;

          * {
            color: rgb(62, 125, 253);
          }
        }
      }
    }
  }

  .form__container {
    form {
      background-color: $bg_color--card;
      box-shadow: 5px 10px 50px #0000001b;
      border-radius: 10px;
      padding: 1.3em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      //-webkit-box-reflect: below 7px linear-gradient(transparent 96%, rgb(0, 0, 0));

      .form-group {
        label {
          font-size: 0.9em;
          margin-bottom: 5px;
          font-family: $secondary_font;
          font-weight: bold;
        }

        input,
        textarea {
          border: none;
          background-color: $bg_color--secondary;
          border-radius: 10px;
          color: $destaque_color;
          border: 1px solid $bg_color--secondary;
          box-shadow: inset 0px 0px 3px #00000013;

          &:focus {
            box-shadow: 0px 0px 2px $destaque_color;
            border: 1px solid $destaque_color;
          }
        }
      }

      #send {
        background-color: $text_color;
        color: $destaque_color;
        font-size: 1.2em;
        font-family: $destaque_font;

        &:hover {
          background-color: $text_color--secondary;
        }
      }
    }
  }
}
