@import '../variables.scss';
@import '../mixins.scss';

#contact {
  .contacts__container {
    color: $text_light--secondary;

    .contact_label {
      > strong {
        font-family: $main_font;
        font-weight: bold;

        &::after {
          content: ':';
          color: $primary_color;
        }
      }
    }
  }

  .form__container {
    form {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .form-group {
        label {
          font-size: 0.9em;
          margin-bottom: 5px;
          font-family: $main_font;
          font-weight: bold;
          color: $text_light--secondary;
        }

        input,
        textarea {
          border: none;
          background-color: $bg_color--secondary;
          border-radius: 10px;
          color: $text_light--terciary;
          box-shadow: inset 2px 2px 0px #44444427;
        }
      }

      #send {
        @include btn--primary;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
