@import '../variables.scss';

#footer {
  background-color: $text_color;
  padding: 5em 2em;
  border-radius: 50px 50px 0px 0px;

  * {
    color: $text_color--secondary;
  }

  .footer__container {
    width: fit-content;

    h3 {
      text-align: start;
      font-size: 1.3em;
      color: $card_color;
    }

    svg {
      font-size: 1.4em;
    }

    
    .footer__contacts_list {
      display: flex;
      gap: 1.5em;
      justify-content: start;
    }

    ul {
      list-style: none;

      li {
        text-align: start;

        a {
          text-decoration: none;
          color: $text_color--secondary;
          transition: $transition_one;

          &:hover {
            color: $card_color;

            svg * {
              color: $card_color;
            }
          }
        }
      }
    }
  }
}
