@import '../variables.scss';

#footer {
  background-color: $bg_color;
  padding: 5em 2em;

  * {
    color: $text_light--terciary;
  }

  .footer__container {
    width: fit-content;

    h3 {
      text-align: start;
      font-size: 1.3em;
      color: $card_color;
    }

    svg {
      font-size: 1.4em;
    }

    .footer__contacts_list {
      display: flex;
      gap: 1.5em;
      justify-content: start;
    }

    ul {
      list-style: none;

      li {
        text-align: start;

        a {
          text-decoration: none;
          color: $text_light--terciary;
          transition: $transition_one;

          &:hover {
            color: $card_color;

            svg * {
              color: $card_color;
            }
          }
        }
      }
    }
  }
}
