@import '../variables.scss';
@import '../mixins.scss';

#home {
  background-color: $bg_color--secondary;
  padding: 3rem 2rem;

  .hero__title {
    font-size: 10rem !important;
    letter-spacing: -1.5px !important;
    line-height: 0.8em !important;
  }

  .hero__text {
    color: $text_dark--terciary;
  }

  .hero__links_container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .hero__link {
      @include btn--primary;
      font-size: 1.15em;
    }

    .hero__clients {
      font-size: 1em !important;
      line-height: 1.3em !important;

      span {
        color: $primary_color;
        font-size: 1.2em !important;
      }
    }
  }
}
