@import '../variables.scss';
@import '../mixins.scss';

#home {
  background-color: $bg_color--secondary;
  background-image: url('../../assets/main_bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  padding: 9em 0 1em 0;
  transition: $transition_two;

  .hero__title {
    margin-bottom: 1.3em;

    > span {
      color: transparent;
      font-family: $secondary_font;
      font-size: 2.2em !important;
      line-height: 0.9em !important;
      letter-spacing: -6px !important;
      font-weight: 700 !important;
      -webkit-text-stroke: 1px #000;
      transition: $transition_two;
    }

    span.active {
      background-image: url('../../assets/title_bg.jpg');
      background-position: center center;
      background-attachment: fixed;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}
