@import '../variables.scss';
@import '../mixins.scss';

#home {
  background-image: radial-gradient($bg_color, $bg_color--secondary);
  padding: 9em 0 5em 0;

  .hero__message {
    background-color: #ffe5c7;
    font-size: 1em !important;
    padding: 0.5em 1.3em;
    border-radius: 10em;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__description {
    font-size: 1.15em !important;
    font-weight: 500;
    font-family: $main_font;
    font-size: 20px;
    line-height: 1.5em;
    max-width: 650px;
    margin-bottom: 60px;
  }

  .hero__buton {
    @include btn--primary;
    padding: 0.8em 1.4em;

    svg {
      font-size: 1.1em;
      transition: $transition_one;

      * {
        color: $card_color;
      }
    }

    &:hover svg {
      transform: rotate(90deg);
    }
  }
}
