@import '../variables.scss';
@import '../mixins.scss';

#ideal {
  .ideal_container {
    .ideal__text {
      color: $text_light--terciary;

      strong {
        color: $text_light;
        font-weight: 400;
      }

      a {
        color: $secondary_color;
      }
    }

    .ideal__link {
      @include btn--primary;
    }

    .ideal__image {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
}
