@import '../variables.scss';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  backdrop-filter: blur(7px);
  padding: .8em 2em !important;
  transition: $transition_two;

  #navbar {
    background-blend-mode: difference;

    ul {
      gap: 2.5em;

      li {
        display: flex;
        flex-direction: column-reverse;
        width: fit-content;

        &:hover a, a.active {
          color: $destaque_color;
        }

        a {
          font-family: $main_font;
          padding: 0;
          text-shadow: 0 0 40px #fff;
          color: $text_color;
          transition: $transition_one;
        }
      }
    }

    > svg {
      font-size: 1.8em;
    }

    #menu_toggler {
      display: none;
      background-color: transparent;
      border: none;


      svg {
        font-size: 1.6em;
        cursor: pointer;

        * {
          color: $text_color;
        }
      }
    }

    #menu__content {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000000cd;
      z-index: 999;

      .menu__nav {
        display: flex;

        a {
          color: $bg_color;
          text-shadow: 0px 0px 30px #000;
        }

        .close__menu {
          svg {
            font-size: 2em;
            cursor: pointer;
            
            path {
              color: $bg_color;
            }
          }
        }
      }
    }
  }
}

#header.header_active {
  padding: 0 !important;
  box-shadow: 0px 0px 3px #0000003b;
  background-color: #ffffff2e;
}