@import '../variables.scss';
@import '../mixins.scss';

header {
  width: 100%;
  z-index: 999;
  padding: 0.8em 2em;
  transition: $transition_two;
  background-color: $bg_color--secondary;

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
      width: 5em !important;

      img {
        width: 100%;
      }
    }

    .navbar__message {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: $text_dark--secondary;
      font-size: 1.15em !important;

      span {
        color: $primary_color;
      }
    }

    .navbar_nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.5em;

      li {
        display: flex;
        flex-direction: column-reverse;
        width: fit-content;

        a {
          font-family: $main_font;
          padding: 0;
          color: $text_dark;
          transition: $transition_one;

          &:hover {
            color: $text_dark--terciary;
          }
        }
      }

      .navbar__btn {
        @include btn--primary;
        font-size: 1.1em;
      }
    }

    #menu_toggler {
      display: none;
      background-color: transparent;
      border: none;

      svg {
        font-size: 1.6em;
        cursor: pointer;

        * {
          color: $text_light--terciary;
        }
      }
    }

    #menu__content {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000000cd;
      z-index: 999;

      .menu__nav {
        display: flex;
        list-style: none;

        a {
          color: $bg_color;
          text-shadow: 0px 0px 30px #000;
        }

        .close__menu {
          svg {
            font-size: 2em;
            cursor: pointer;

            path {
              color: $bg_color;
            }
          }
        }
      }
    }
  }
}
