@import '../variables.scss';
@import '../mixins.scss';

#phases {
  .phases__title {
    background: -webkit-linear-gradient(
      45deg,
      transparent,
      $text_light,
      transparent
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .phases__subtitle {
    color: $text_light--secondary;
  }

  .phases_container {
    .phase {
      border-bottom: 1px solid $text_dark--terciary;
      transition: $transition_two;

      &:nth-child(1) {
        border-top: 1px solid $text_dark--terciary;
      }

      &:hover {

        .phase_text {
          opacity: 1;
        }
      }

      .phase__number {
        font-weight: 700;
        font-size: 2.5rem;
        transition: $transition_one;
      }

      .phase_title {
        color: $text_light--secondary;
        font-size: 2.5rem !important;
        font-weight: 200 !important;
        text-transform: uppercase;
      }

      .phase_text {
        max-width: 450px;
        font-size: 1em !important;
        color: $text_light--secondary;
        opacity: 0;
        transition: $transition_one;
      }
    }
  }
}
