@import '../variables.scss';
@import '../mixins.scss';

#phases {
  .phases__title {
    color: $text_light;
  }

  .phases__subtitle {
    color: $text_light--terciary;
  }

  .phases_container {
    .phase {
      border-bottom: 1px solid $text_dark--terciary;
      transition: $transition_two;

      &:nth-child(1) {
        border-top: 1px solid $text_dark--terciary;
      }

      &:hover {
        .phase__number {
          color: $primary_color;
        }

        .phase_text {
          color: $text_light--secondary;
        }
      }

      .number__container {
        max-width: 450px;

        .phase__number {
          font-weight: 700;
          font-size: 2.5rem;
          color: transparent;
          transition: $transition_one;
          -webkit-text-stroke: 1px $primary_color;
        }

        .phase_title {
          color: $text_light--secondary;
          font-size: 2.5rem !important;
          font-weight: 200 !important;
          text-transform: uppercase;
        }
      }

      .phase_text {
        max-width: 450px;
        font-size: 1em !important;
        color: $text_light--terciary;
        opacity: 1;
        transition: $transition_one;
      }
    }
  }
}
