@import '../variables.scss';
@import '../mixins.scss';

#projects {
  background-color: $bg_color;

  .projects__title {
    color: $text_light;
  }

  p {
    color: $text_light--secondary;
  }

  .projects__container {
    width: 100%;

    .project {
      position: relative;
      width: calc(33% - 1rem);
      gap: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: 5px;
      transition: $transition_one;

      &:hover {

        .project__image {
          transform: scale(1.1);
          opacity: 1;
        }
      }

      a {
        text-align: center;

        .project__image {
          opacity: .7;
          width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
          box-shadow: 0px 2rem 3rem #0000005a;
          border-radius: 5px;
          transition: $transition_one;
        }
      }
    }
  }

  .projects__links_container {
    .projects__link--one {
      @include btn--primary;
    }

    .projects__link--two {
      color: $text_light--secondary;

      &:hover {
        color: $text_light--terciary;
      }
    }
  }
}
