@import '../variables.scss';
@import '../mixins.scss';

#projects {
  h2 {
    margin-bottom: 2em;

    &::after {
      content: ':';
      color: $destaque_color;
    }
  }

  .projects__container {
    .row {
      flex-wrap: wrap;
      gap: 2em;

      .project {
        position: relative;
        aspect-ratio: 10 / 6;
        box-shadow: 0px 5px 40px #00000041;
        border-radius: 10px;
        overflow: hidden;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          i {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: $transition_two;
          }
          
          a {
            bottom: 50%;
            transform: translate(0%, 50%);
            transition: $transition_two;
          }
        }

        i {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-image: linear-gradient(180deg, #000000c7, #000000a4, #00000000);
        }

        .project__image {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }

        a {
          position: absolute;
          bottom: 0;
          transform: translateY(100px);
          border-radius: 100%;
          width: 3em;
          height: 3em;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #0000001f;

          svg {
            scale: 2.5;

            * {
              color: $destaque_color;
              font-size: 10em !important;
            }
          }
        }

        .project__link_site {
          left: 25%;
        }

        .project__link_code {
          right: 25%;
        }
      }
    }
  }
}
