@import '../variables.scss';
@import '../mixins.scss';

#projects {
  h2 {
    margin-bottom: 2em;

    &::after {
      content: ':';
      color: $destaque_color;
    }
  }

  .projects__container {
    .row {
      flex-wrap: wrap;
      gap: 2em;

      .project {
        position: relative;
        aspect-ratio: 10 / 6;
        background: none;
        border-radius: 10px;
        transform-style: preserve-3d;
        transition: all 0.8s ease;
        box-shadow: 0px 5px 40px #00000041;

        &:hover {
          transform: rotateY(180deg);
          box-shadow: none;
        }

        .thefront {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          backface-visibility: hidden;
          overflow: hidden;
        }

        .theback {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          backface-visibility: hidden;
          overflow: hidden;
          background: transparent;
          color: #222;
          text-align: center;
          transform: rotateY(180deg);
          padding: 1.2em;

          h3 {
            margin-bottom: .7em;
          }

          p {
            font-size: 1.1em;
          }

          a {
            color: $destaque_color--secondary;
            text-wrap: nowrap;
          }
        }
      }
    }
  }
}
