@import '../variables.scss';
@import '../mixins.scss';

#responsiveness {
  .responsiveness_container {
    .responsiveness__text {
      color: $text_light--terciary;

      strong {
        color: $text_light;
        font-weight: 400;
      }

      a {
        color: $secondary_color;
      }
    }
  }
}
