@import '../variables.scss';
@import '../mixins.scss';

#services {
  .services_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .service {
      width: 30%;

      &:nth-child(1) .service__data_container {
        box-shadow:
          -4px 4px #00c677,
          -8px 8px #000;

        .service__subtitle,
        .service__link {
          color: #00c677;
        }
      }

      &:nth-child(2) {
        width: 36%;

        .service__data_container {
          box-shadow:
            0px 4px #d3b000,
            0px 8px #000;
          scale: 1.05;
          z-index: 929;

          .service__subtitle,
          .service__link {
            color: #d3b000;
          }
        }
      }

      &:nth-child(3) .service__data_container {
        box-shadow:
          4px 4px #008bc6,
          8px 8px #000;

        .service__subtitle,
        .service__link {
          color: #008bc6;
        }
      }

      .service__data_container {
        width: 100%;
        position: relative;
        overflow: hidden;
        border: 1px dashed #000000;
        background-color: $card_color;

        .service__title {
          color: $text_dark;
          font-weight: 400 !important;
          font-family: $main_font !important;
          letter-spacing: 1px;
        }

        .service__description {
          color: $text_dark;
          font-weight: 300 !important;
        }
      }
    }
  }
}
