@import '../variables.scss';
@import '../mixins.scss';

#technologies {
  scroll-margin-top: 4.5em;
  min-height: 70vh;
  display: flex;
  align-items: end;
  background-color: $bg_color;

  .tech__subtitle {
    color: $text_dark--terciary;
  }

  .container {
    .tech__description {
      display: flex;
      flex-direction: column;
      gap: 0.3em;

      p {
        font-size: 1.15em;
        color: $text_dark--secondary;
      }
    }

    .tech__items {
      .tech__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.7em;

        li {
          border: none;
          width: 15%;
          aspect-ratio: 5 / 4;
          background-color: $secondary_color;
          border-radius: 10px;
          gap: 0.1em;

          .tech__name {
            text-wrap: nowrap;
            font-size: 1em !important;
          }

          svg {
            font-size: 4em;
          }
        }

        .HTML > svg * {
          color: #dd4b25;
        }

        .Bootstrap > svg * {
          color: #8713f4;
        }

        .CSS > svg * {
          color: #2862e9;
        }

        .Sass > svg * {
          color: #c76494;
        }

        .Javascript > svg * {
          color: #efd81d;
        }

        .Typescript > svg * {
          color: #2f74c0;
        }

        .React > svg * {
          color: #5ed3f3;
        }

        .Redux > svg * {
          color: #6e41b3;
        }

        .Axios > svg * {
          color: #5f30e5;
        }

        .Git > svg * {
          color: #f05539;
        }

        .Wordpress > svg * {
          color: #28799e;
        }

        .Framer > svg * {
          color: #ee0bb2;
        }
      }
    }
  }
}
