@import '../variables.scss';
@import '../mixins.scss';

#technologies {
  scroll-margin-top: 4.5em;
  min-height: 70vh;
  display: flex;
  align-items: end;
  background-color: $bg_color--secondary;

  .container {
    .tech__description {
      display: flex;
      flex-direction: column;
      gap: 0.3em;

      p {
        font-size: 1.15em;
      }

      a {
        @include btn--secondary;
      }
    }

    .tech__items {
      .tech__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.7em;

        li {
          border: none;
          width: 7.5em;
          aspect-ratio: 5 / 4;
          background-color: $card_color;
          box-shadow: 0 0 40px #0000000c;
          gap: 0.1em;

          .tech__name {
            text-wrap: nowrap;
            font-size: 0.9em !important;
          }

          svg {
            font-size: 2.5em;

            * {
              color: #2d2d2d;
            }
          }
        }
        /*
        .HTML > svg * {
          color: #dd4b25;
        }

        .Bootstrap > svg * {
          color: #8713f4;
        }

        .CSS > svg * {
          color: #2862e9;
        }

        .Sass > svg * {
          color: #c76494;
        }

        .Javascript > svg * {
          color: #efd81d;
        }

        .Typescript > svg * {
          color: #2f74c0;
        }

        .React > svg * {
          color: #5ed3f3;
        }

        .Redux > svg * {
          color: #6e41b3;
        }

        .Axios > svg * {
          color: #5f30e5;
        }

        .Git > svg * {
          color: #f05539;
        }

        .Wordpress > svg * {
          color: #28799e;
        }

        .Framer > svg * {
          color: #ee0bb2;
        }*/
      }
    }
  }
}
