@import '../variables.scss';
@import '../mixins.scss';

#testemonials {
  background-color: $bg_color--light;

  .testemonials__title {
    color: $text_dark !important;

    span {
      font-family: $main_font;
    }
  }

  .cards_container {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 12em 2em 2em 12em;
    gap: 1em;

    .testemonial {
      box-shadow:
        2px 2px 0px #0000000e,
        0px 20px 50px #0000000f;
      border-radius: 7px;

      &:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      &:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
      }

      &:nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 4;
        grid-column-end: 3;
      }

      &:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      &:nth-child(5) {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
      }

      &:nth-child(6) {
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 4;
      }

      .testemonial__photo {
        width: 3em;
        height: 3em;
        border-radius: 100%;
        object-fit: cover;
      }

      .testemonial__name {
        font-weight: 600;
        color: $text_dark;
        font-family: $main_font;
        font-size: 1.5em !important;
      }

      .testemonial__text {
        color: $text_dark--terciary;
        font-size: 1em !important;
      }

      .star_container svg {
        font-size: 1.5em;

        * {
          color: $primary_color;
        }
      }
    }
  }
}
