@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font;
  color: $text_dark;
}

body {
  background-color: $bg_color !important;
}

h1 {
  font-family: $secondary_font;
  font-weight: 500 !important;
  font-size: 4.7em !important;
  line-height: 1.13em !important;
  letter-spacing: -1px !important;
}

h2 {
  font-family: $secondary_font;
  font-weight: bolder !important;
}

h3 {
  font-family: $secondary_font;
}

p {
  font-size: 1.15em !important;
}

a {
  color: $text_dark;
  text-decoration: none !important;
}

html,
body {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: $bg_color;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: $text_dark--secondary;
  border-radius: 3px;
}

.container {
  max-width: 1200px !important;
}

.section-area {
  padding: 6em 1em;
}

.destaque--text {
  color: $destaque_color !important;
}
