@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font;
  color: $text_dark;

  &::selection {
    color: $card_color !important;
    background-color: $text_dark !important;
  }
}

body {
  background-color: $bg_color !important;
}

h1 {
  font-family: $secondary_font;
  font-weight: 500 !important;
  font-size: 4.6em !important;
  line-height: 1.19em !important;
  letter-spacing: -0.5px !important;
}

h2 {
  font-size: 3.2em !important;
  font-family: $secondary_font;
  font-weight: 500 !important;
}

h3 {
  font-size: 29px !important;
  font-family: $secondary_font;
  font-weight: 200 !important;
}

p {
  font-size: 1.15em !important;
}

a {
  color: $text_dark;
  text-decoration: none !important;
}

html,
body {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: $bg_color;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: $text_dark--secondary;

  &:hover {
    background-color: $text_dark;
  }
}

.container {
  max-width: 1200px !important;
}

.section-area {
  padding: 9em 1em;
}

.destaque--text {
  color: transparent !important;
  font-family: $secondary_font;
  -webkit-text-stroke: 1px #fff;
}

.destaque--color {
  color: $primary_color !important;
}
