@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font;

  &::selection {
    color: $text_light !important;
    background-color: $secondary_color !important;
  }
}

body {
  background-color: $bg_color !important;
}

h2 {
  font-size: 3.2em !important;
  font-family: $main_font;
  font-weight: 500 !important;
  letter-spacing: -2.3px !important;
  color: $text_light !important;
}

h3 {
  font-size: 1.8rem !important;
  font-family: $main_font;
  letter-spacing: -1.8px !important;
  font-weight: 300 !important;
}

p {
  font-size: 1.2em !important;
}

a {
  color: $text_dark;
  text-decoration: none !important;
}

html,
body {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: $bg_color;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #333;

  &:hover {
    background-color: $bg_color--light;
  }
}

.container {
  max-width: 1400px !important;
}

.section-area {
  padding: 9em 1em;
}

.logo {
  width: 5em !important;

  img {
    width: 100%;
  }
}

.destaque--text {
  color: transparent !important;
  font-family: $main_font;
  -webkit-text-stroke: 1px $text_light;
}

.destaque--text-dark {
  color: transparent !important;
  font-family: $main_font;
  -webkit-text-stroke: 1px $text_dark;
}

.color--primary {
  background: -webkit-linear-gradient(45deg, $primary_color, $secondary_color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $main_font;
}
